APP_ENV=dev
APP_SECRET=!ChangeMe!
FRONTEND_URL=http://localhost:5173
MAILER_DSN=null://null

POSTGRES_VERSION=16
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!

NGINX_PORT=8000
POSTGRES_PORT=5432

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=!ChangeMe!

